// Variables

$body-font-family: "Open Sans", sans-serif;
$heading-font-family: "League Spartan", sans-serif;
$grey: #ccc;
$purple: #6C34FF;
$dark-blue: #302FE8;
$primary-blue: #4071FF;
$secondary-blue: #2F8FE8;
$cyan: #34D2FF;

// Styles

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold.woff') format('woff'),
         url('../fonts/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

 body {
    font-family: $body-font-family;
    font-weight: 400;
    background-color: $purple;
    color: #fff;
    overflow-x: hidden;
}

 h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: $heading-font-family;
 }

a {
    color: $purple;
    font-weight: 700;
}

a:hover, a:focus {
    color: $primary-blue;
}

 .button {
    border-radius: 0;
    background-color: $cyan;
    color: $purple;
    box-shadow: -4px 4px 0 $purple;
 }

 .button:hover, .button:focus {
    background-color: $purple;
    color: #fff;
    box-shadow: -4px 4px 0 $cyan;
 }

.top-bar {
    border-bottom: 5px solid $cyan;
}

.top-bar, .top-bar ul {
    background-color: $primary-blue;
    color: #fff;
}

.top-bar .top-bar-title a,
.top-bar .menu a {
    color: #fff;
    font-family: $heading-font-family;
}

.top-bar .top-bar-title a {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -2px 2px $cyan;
}

.top-bar .menu a:hover:not(.button) {
    background-color: $dark-blue;
    color: #fff;
}

.top-bar .menu li:not(:last-child) {
    border-right: 0;
}

.top-bar .dropdown.menu .is-active > a {
    color: #fff;
    background-color: $purple;
}

.home > section,
.home > .section-divider,
.main-container {
    position: relative;
    color: #000;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -9999px;
        right: -9999px;
        bottom: 0;
        background-color: #fff;
        z-index: -1;
    }
}

.main-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.main-grid {
    justify-content: center;
    margin-top: 0;
}

.main-grid .main-content-full-width {
    @include breakpoint(small) {
        @include xy-cell(12);
      }
  
      @include breakpoint(medium) {
        @include xy-cell(8);
      }  
}

.sidebar .menu li:not(:last-child) {
    width: 100%;
    border-bottom: 1px solid $grey;
}

.footer a {
    color: $cyan;
}

.footer-container {
    border-top: 0;
    margin-top: 0;
}

.front-hero {
    margin: 0;
}

.front-hero .tagline {
    padding-top: 3rem;
}

.front-hero h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -2px 2px $cyan;
}

.subheader {
    font-family: $body-font-family;
}

.logos {
    display: flex;
    flex-wrap: wrap;

    & > a {
        margin-right: 1rem;
    }
}

.community {
    @include xy-grid-container;
    @include xy-grid;
    flex-wrap: nowrap;
    align-items: center;

    img {
        margin-right: rem-calc(48);
        flex-shrink: 0;
    }

    h2 {
        font-weight: 300;
    }

    h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
    }
}

article h2,
article h3,
article h4 {
    margin-top: 3rem;
}

.sidebar .menu {
    position: relative;
    padding-top: 5px;
    color: $secondary-blue;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        height: 5px;
        left: 0;
        right: 0;
        background-image: url('../images/border.png');
        background-size: contain;
    }
}

.sidebar .menu a {
    font-family: $heading-font-family;
    line-height: 1;
    padding: 1.5rem 1rem 1.05rem 1rem;
    display: inline-block;
    text-indent: 0;
    width: calc(100% - 2.5em);
}

.sidebar .menu .is-active a {
    background-color: transparent;
    color: #000;
}

.sidebar .menu li {
    list-style-type: square;
    list-style-position: inside;
    width: 100%;
    text-indent: 1.5em;
}

.sidebar .menu li:not(:last-child) {
    border-bottom: 1px solid $secondary-blue;
}